<main class="px-3 cover">
    <h1> Healthy Chef</h1>
    <p class="lead">We support you making choices for your health while enjoying good food</p>
    <p class="lead">
        <a href="/recipe/list" class="btn btn-success">Check our Recipe</a>
    </p>
</main>
<section class="features">

    <div class="container marketing">
        <div class="col-lg-4">

            <img class="bd-placeholder-img rounded-circle  index-img-feature" src="/images/index-img1.jpg"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="food image"
                preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2 class="fw-normal">Enjoy our recipe</h2>
            <p>Thanks to our users, get access to yummy recipes</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle index-img-feature" src="/images/index-img2.jpg"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="food image"
                preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2 class="fw-normal">Create your own recipe</h2>
            <p>Use Healthy Chef to store your family recipe</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle  index-img-feature" src="/images/index-img3.jpg"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="food image"
                preserveAspectRatio="xMidYMid slice" focusable="false">

            <h2 class="fw-normal">Be healthy</h2>
            <p>We provide reliable data so you can make educated choices about what you eat</p>

        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <hr class="featurette-divider">
</section>