body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* INDEX PAGE */

main {
  background-image: url(../images/index-cover.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/index-cover.jpg) no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  margin: 0 auto;
  padding: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
}

.feature-item {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.feature-item .col-lg-4 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.feature-item .col-lg-4 p {
  margin-top: 1rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 1rem;
}

.feature-item .col-lg-4 h2 {
  margin-top: 1rem;
}

.index-img-feature {
  object-fit: cover;
  width: 140px;
  height: 140px;
}

/* HOME PAGE */

.home-hero {
  background-image: url(../images/home-cover.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home-cover.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.recipe-detail-hero {
  background-image: url(../images/recipe-details-cover.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9))
    url(../images/recipe-details-cover.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color: #54436b;
}

@media only screen and (max-width: 600px) {
  #signin img,
  #login img {
    display: none;
  }
}

footer {
  width: 100%;
}

.recipe-instructions-text {
  white-space: pre-wrap;
}

#deletebtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
